<script id="nf-tmpl-field-listselect" type="text/template">
    <select id="nf-field-{{{ data.id }}}" name="nf-field-{{{ data.id }}}" class="{{{ data.renderClasses() }}} nf-element" {{{ data.renderOtherAttributes() }}}>
        {{{ data.renderOptions() }}}
    </select>
    <div for="nf-field-{{{ data.id }}}"></div>
</script>

<script id="nf-tmpl-field-listselect-option" type="text/template">
	<# if ( ! visible ) { return ''; } #>
	<option value="{{{ data.value }}}" {{{ data.( 1 == selected ) ? 'selected="selected"' : '' }}} >{{{ data.label }}}</option>
</script>
